@import 'src/styles/variables/colors';
@import 'src/styles/mixins/fluid-type';

.set-gig-list {
  padding: 0 10px;
  height: 75vh;
  width: auto;
  flex: 1;
  overflow-y: auto;
  border: 2px solid #000;
  border-radius: 5px;
  @include fluid-type(margin-left margin-right, 320px, 767px, 10px, 50px);
}

.set-gig-card {
  width: 95%;
  margin-bottom: 15px;
  padding: 0 15px;
  border-radius: 10px;
  background-color: $card-color;

  &:last-child {
    margin-bottom: 0;
  }

}
