@import 'src/styles/mixins/fluid-type';

.mobile-container{
  width: 100%;
}

.mobile-list {
  width: 100%;
  padding: 0 10px;
  @include fluid-type(margin-left margin-right, 320px, 767px, 10px, 50px)
}