@import 'src/styles/mixins/breakpoint';

.main-container {
  width: 85vw;
  margin-bottom: 50px;
  justify-content: center;
  align-content: center;
}

@include breakpoint(tablet) {
  .main-container {
    flex-direction: row;
    align-items: flex-start;
  }
}